[Unit]
Description=Crucible Service

[Service]
Type=forking
ExecStart=/opt/atlassian/crucible/fecru-4.6.1/bin/start.sh

[Install]
WantedBy=multi-user.target